.photo-form {
  font: 18px Arial, Helvetica, sans-serif;
  font-style: italic;
	max-width: 500px;
  margin: auto;
  margin-top: 50px;
	padding: 20px 12px 10px 20px;
}

.form-header {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 20px;
	font-size: 30px;
	padding-bottom: 3px;
}

.photos {
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
	padding: 20px 12px 10px 20px;
}
