// $charcoal: #bbb;
//
// .create-form {
//   align-items: center;
//   border: 1px solid $charcoal;
//   display: flex;
//   justify-content: center;
//   padding: 0 20px;
//
//   button {
//     align-self: flex-end;
//     max-width: 200px;
//   }
// }

.create-form {
  font: 18px Arial, Helvetica, sans-serif;
  font-style: italic;
	max-width: 500px;
	padding: 20px 12px 10px 20px;
}

.trip {
  font: 18px Arial, Helvetica, sans-serif;
  font-style: italic;
	max-width: 500px;
	padding: 20px 12px 10px 20px;
}

.form-header{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 20px;
	padding-bottom: 3px;
}

.create-form label {
	display: block;
	margin: 0px 0px 15px 0px;
}

.create-form label > span {
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}

.create-form button {
	border: 0;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
}
