$charcoal: #bbb;

.create-form {
  align-items: center;
  border: 1px solid $charcoal;
  display: flex;
  justify-content: center;
  padding: 0 20px;

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.trip {
  align-items: center;
  display: inline-block;
  justify-content: center;
  margin: 50px;
  padding: 20px;
}
